In [1]:
# Importar bibliotecas
import pandas as pd
import random
import datetime
import calendar

## Desafio I

In [2]:
#Recebe data inicial, final e minutos (incremento de tempo) para gerar lista com o intervalo de tempo
def gera_data(inicio, fim, minutos):
  #transforma data
  inicio = pd.to_datetime(inicio)
  fim = pd.to_datetime(fim)
  
  datas = []

  while inicio<= fim:
    datas.append(inicio)
    inicio += datetime.timedelta(minutes=minutos)

  return datas

In [3]:
# Recebe lista com todos os tipos de frutas e a lista de de datas. Retorna DataFrame as fruta escolhidas de forma aleatóri
def lista_aleatória_frutas(frutas, datas):
  total_data = len(datas)
  frutas_selecionadas = []

  for i in range(total_data):
    # escolhe a fruta de forma aleatória, utilizando a função random()
    index = int(random.random()*len(frutas))
    fruta_escolhida = frutas[index]
    frutas_selecionadas.append(fruta_escolhida)
  
  return pd.DataFrame({'Data_horário':datas,
                       'Fruta':frutas_selecionadas})

In [4]:
random.seed(23)

#Cria lista entre 01/06/22 12:00:00 - 15/06/22 23:00:00 com intervalos de 20 min
datas = gera_data('2022-06-01 12:00:00', '2022-06-15 23:00:00', 20)

# Lista de todas as frutas disponíveis
frutas = ['abacate', 'abacaxi', 'banana', 'goiaba', 'laranja', 'manga', 'melancia', 'pêssego', 'tangerina', 'uva']

#Gera DataFrame com as frutas selecionadas aleatoriamente para as datas criadas
df1 = lista_aleatória_frutas(frutas, datas)
df1

            Data_horário      Fruta
0    2022-06-01 12:00:00        uva
1    2022-06-01 12:20:00        uva
2    2022-06-01 12:40:00  tangerina
3    2022-06-01 13:00:00    abacate
4    2022-06-01 13:20:00      manga
...                  ...        ...
1037 2022-06-15 21:40:00   melancia
1038 2022-06-15 22:00:00   melancia
1039 2022-06-15 22:20:00    pêssego
1040 2022-06-15 22:40:00     goiaba
1041 2022-06-15 23:00:00     goiaba

[1042 rows x 2 columns]

In [5]:
df1.to_csv('Planilha_frutas_aleatórias.csv',sep=';')

## Desafio II

In [6]:
def getFruta(dia, mes, ano, hora, minutos):
  #abre o csv
  df2 = pd.read_csv('Planilha dieta de frutas.csv',sep=';')
  
  #tranforma as datas em datetime
  df2['Data_horario'] = pd.to_datetime(df2['Data_horario'])
  
  #transforma todos os dados de entrada em inteiros
  dia, mes, ano, hora, minutos = int(dia), int(mes), int(ano), int(hora), int(minutos)
  
  # verifica mês e ano
  if (1 <= mes <= 12) & (pd.Timestamp.min.year <= ano <= pd.Timestamp.max.year):
  
    if (1 <= dia <= calendar.monthrange(ano,mes)[1]):# verifica dia
      data = datetime.datetime(year=ano, month=mes, day=dia, hour=hora, minute=minutos)
      fruta = df2.loc[df2['Data_horario'] == data].reset_index()
    
      if fruta.empty:
        prox_fruta = df2.loc[(df2['Data_horario'] >= data) & ((df2['Data_horario'] <= data + datetime.timedelta(minutes=20)))].reset_index()
        if prox_fruta.empty:
          print('Não há uma dieta de frutas para o horário e data informados')

        else:
          print('Você não tem que comer nenhuma fruta. Próxima fruta será uma ', str(prox_fruta.loc[0,'Frutas']),' em ', prox_fruta.loc[0,'Data_horario'].strftime("%d/%m/%Y %H:%M"))

      else:
        print('Você deve comer uma ', fruta.loc[0,'Frutas'])

    else:
      print('Dia inválido')
  
  else:
    print('Dia inválido')

In [7]:
getFruta('01','06','2022','12','20')

Você deve comer uma  manga

In [8]:
getFruta('01','06','2022','12','30')

Você não tem que comer nenhuma fruta. Próxima fruta será uma  banana  em  01/06/2022 12:40

In [9]:
getFruta('25','05','2022','12','30')

Não há uma dieta de frutas para o horário e data informados

In [10]:
getFruta('35','06','2022','12','30')

Dia inválido